html,body{
    height:auto;
}

img{
     -webkit-touch-callout: none;
     -webkit-user-select: none; 
     -khtml-user-select: none; 
     -moz-user-select: none; 
     -ms-user-select: none; 
     user-select: none;
}

.logo-galaxy{
     z-index: 1;
     display: inline-block;
     margin:10px 20px 0px 20px;
     padding:10px 0;
     width:80%;
     -webkit-user-drag: none;
     -khtml-user-drag: none;
     -moz-user-drag: none;
     -o-user-drag: none;
     user-drag: none;
}

.navigasi-kiri {
     position: fixed;
     width: 200px;
     height: 100%;
     background: #f5f5f5;
     overflow: hidden;

}
.isikonten {
     margin-left: 200px;
     height: 100%;
     width: auto;
     position: relative;
}

.ukuran{
     width:200px;
     color:black;
     background-color: #f5f5f5;
}


.ukuran:hover{
     color:red;
}

.menu{
     width:200px;
     color:black;
}

.menu:hover{
     color:red;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
    align-items: left;
}

.btn.ukuran:focus, .btn.ukuran:active:focus, .btn.ukuran.active:focus{
    outline:none;
    box-shadow:none;
    align-items: left;
}

.btn.menu:focus, .btn.menu:active:focus, .btn.menu.active:focus{
    outline:none;
    box-shadow:none;
    align-items: left;
}


.btn.perbaruimarquee:focus, .btn.perbaruimarquee:active:focus, .btn.perbaruimarquee.active:focus{
    outline:none !important;
    box-shadow:none !important;
    align-items: left !important;
}

.menu{
     background-color:#f5f5f5;
     border-radius: 0 !important;
}


.menu.pengecualian{
     background-color: #f5f5f5;
     border-radius: 0 !important;
}

.btn.ukuran.text-left{
     border-radius: 0;
}

.text-left{
     padding-left: 20px !important;
}


div.card-header{
     padding:0;
}

.daftar3menu{
     padding-left:30px;
}



.marquee{
     cursor: default;
     -webkit-touch-callout: none;
     -webkit-user-select: none; 
     -khtml-user-select: none; 
     -moz-user-select: none; 
     -ms-user-select: none; 
     user-select: none;
}

*{
     -webkit-user-drag: none;
     -khtml-user-drag: none;
     -moz-user-drag: none;
     -o-user-drag: none;
     user-drag: none;
}

.halaman{
    margin-top: 3px;
    margin-left: 10px;
    margin-right: 10px;
    height:auto;
    max-height:9000px;
}


a.dropdown-item{
    padding: 5px 4px;
    text-align: center;
}

a#navbarDropdown{
    color:white;
}

.navbar-nav > li{
    margin-left: 40px;
    margin-right:40px;
}

@media only screen and (max-width: 1300px) {
.navbar-nav > li{
    margin-left: 0px !important;
    margin-right:20px !important;
  }

.navbar-nav.navbar-kedua > li{
    margin-left: 0px !important;
    margin-right:15px !important;
  }
}

@media only screen and (max-width: 1400px) {
.navbar-nav > li{
    margin-left: 0px !important;
    margin-right:20px !important;
  }

.navbar-nav.navbar-kedua > li{
    margin-left: 0px !important;
    margin-right:15px !important;
  }
}

.navbar-nav.navbar-kedua > li{
    margin-left: 35px;
    margin-right:35px;
}

.dropdown-menu-center {
left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}


ul.nav > li:last-child {
  border-right: 1px solid #475d88;
}

a.dropdown-item{
    display: block !important;
}

nav.navbar{
    padding:0px;
}


#isipengumuman{
    margin-bottom: 50px;
}

a.hapus{
    font-size: 13.5px;
    background-color: red;
    color:white !important;
    padding:10px 15px 10px 15px;
    z-index: 0;
    cursor: pointer;
    float: right;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: inset -1px 0px 0px  #404040, 2px 2px 1px  #404040;
    position:relative;
    bottom: 41px;
}

a.hapus:hover{
    color:black !important;
}

a.hapus:active{
    color:white !important;
}

.judul-pengumuman-body{
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  color:red;
}

.keterangan-pengumuman-body{
  margin-bottom: 10px;
}

.badge-baru, .badge-penting{
    margin-right: 5px !important;
    font-size: 18px !important;
    animation:animasi 2s infinite;
    vertical-align: super !important;
}


@keyframes animasi {
    0%{transform: translateY(-2px);}
    25%{transform: translateY(-5px);}
    50%{transform: translateY(-2px);}
    75%{transform: translateY(-5px);}
    100%{transform: translateY(-2px);}
}


ul.navbar-nav{
    padding:5px 0px;
}

.peringatan-keterangan{
    text-align: center;
    margin-top: 20px;
}

li{
    list-style: none;
}

#tambahpengumuman{
    border: 1px solid #007bff;
    background-color: #007bff;
    display: block;
    position: fixed;
    bottom: 0px;
    right:0;
    left:0;
    margin-left: 200px;
    text-align: center;
    cursor: pointer;
    color: white;
    padding:5px 0px;
    font-size: 30px;
}

#tambahpengumuman:hover{
    background-color: white;
    color:#007bff;
}

#tambahpengumuman:active{
    background-color: #007bff;
    color:white;
}

#tambahcatatan{
    border: 1px solid #007bff;
    background-color: #007bff;
    display: block;
    position: fixed;
    bottom: 0px;
    right:0;
    left:0;
    margin-left: 200px;
    text-align: center;
    cursor: pointer;
    color: white;
    padding:5px 0px;
    font-size: 30px;
}

#tambahcatatan:hover{
    background-color: white;
    color:#007bff;
}

#tambahcatatan:active{
    background-color: #007bff;
    color:white;
}

#halaman-catatan div .card-header{
    padding: 15px !important;
    background-color: #555657 !important;
}

.judul-catatan{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding:10px;
    border:2px solid #5b5c5b;
}       

.judul-daftar-catatan{
    font-size: 20px;
    z-index: 0;
    color: #0ff;
}

.keterangan-catatan{
    padding:10px;
    background-color: white;
    background-color: #f2f2f2;
}


.daftar-catatan a.hapusya{
    color:blue !important;
}

.hapusya{
    cursor: pointer;
    border:2px solid #f74a4a;
    background-color: #f74a4a;
    display: inline-block;
    text-align: center;
    color: white !important;
    border-bottom-right-radius: 15px;
    padding:5px 0px;
    font-weight: bold;
    width: 50%;
}

.hapusya:hover{
    background-color: white;
    color:#f74a4a !important;
}

.hapusya:active{
    background-color: #f74a4a;
    color:white !important;
}

.editya{
    cursor: pointer;
    border:2px solid #ffbb00;
    background-color: #ffbb00;
    display: inline-block;
    text-align: center;
    color: white !important;
    border-bottom-left-radius: 15px;
    padding:5px 0px;
    font-weight: bold;
    width: 50%;
}

.editya:hover{
    background-color: white;
    color:#ffbb00 !important;
}

.editya:active{
    background-color: #ffbb00;
    color:white !important;
}

a.hapuspromo{
    float: right;
    background-color: red;
    color:white;
    border-top-right-radius: 15px;
    border-top:2px solid #5b5c5b;
    border-bottom:2px solid #5b5c5b;
    border-right:2px solid #5b5c5b;
    border-bottom-right-radius: 15px;
    position: relative;
    top:auto;
    bottom:auto;
}

.judul-promo{
    border-top-left-radius: 15px;
    padding:10px;
    border:2px solid #5b5c5b;
}       

.judul-daftar-promo{
    font-size: 20px;
    z-index: 0;
    color: #0ff;
}


.keterangan-cust{
    padding:10px;
    background-color: white;
    background-color: #f2f2f2;
}

.isi-keterangan-cust{
    display: grid;
    grid-template-columns: 150px 10px auto;
    justify-content: center;
}

.judul-keterangan-cust{
    display: grid;
    grid-template-columns: 220px 10px auto;
}

button.daftar-promo{
    padding-right: 0px !important;
    padding-left:40px !important;
}

button.card-header{
    text-align: left !important;
    color:#0ff !important;
    text-decoration: none !important;
    border:2px solid #5b5c5b;
}



.keterangan-promo{
    padding-left:50px !important;
    padding-right:50px !important;
    background-color: #f2f2f2;
}

#tambahpromo{
    border: 1px solid #007bff;
    background-color: #007bff;
    display: block;
    position: fixed;
    bottom: 0px;
    right:0;
    left:0;
    margin-left: 200px;
    text-align: center;
    cursor: pointer;
    color: white;
    padding:5px 0px;
    font-size: 30px;
}

#tambahpromo:hover{
    background-color: white;
    color:#007bff;
}

#tambahpromo:active{
    background-color: #007bff;
    color:white;
}

#tambahtransaksi{
    border: 1px solid #007bff;
    background-color: #007bff;
    display: block;
    position: fixed;
    bottom: 0px;
    right:0;
    left:0;
    margin-left: 200px;
    text-align: center;
    cursor: pointer;
    color: white;
    padding:5px 0px;
    font-size: 30px;
}

#tambahtransaksi:hover{
    background-color: white;
    color:#007bff;
}

#tambahtransaksi:active{
    background-color: #007bff;
    color:white;
}


#tambahbarangdicari{
    border: 1px solid #007bff;
    background-color: #007bff;
    display: block;
    position: fixed;
    bottom: 0px;
    right:0;
    left:0;
    margin-left: 200px;
    text-align: center;
    cursor: pointer;
    color: white;
    padding:5px 0px;
    font-size: 30px;
}

#tambahbarangdicari:hover{
    background-color: white;
    color:#007bff;
}

#tambahbarangdicari:active{
    background-color: #007bff;
    color:white;
}

#tambahachievement{
    border: 1px solid #007bff;
    background-color: #007bff;
    display: block;
    position: fixed;
    bottom: 0px;
    right:0;
    left:0;
    margin-left: 200px;
    text-align: center;
    cursor: pointer;
    color: white;
    padding:5px 0px;
    font-size: 30px;
}

#tambahachievement:hover{
    background-color: white;
    color:#007bff;
}

#tambahachievement:active{
    background-color: #007bff;
    color:white;
}

#tambahperpindahan{
    border: 1px solid #007bff;
    background-color: #007bff;
    display: block;
    position: fixed;
    bottom: 0px;
    right:0;
    left:0;
    margin-left: 200px;
    text-align: center;
    cursor: pointer;
    color: white;
    padding:5px 0px;
    font-size: 30px;
}

#tambahperpindahan:hover{
    background-color: white;
    color:#007bff;
}

#tambahperpindahan:active{
    background-color: #007bff;
    color:white;
}

.expired{
    color:white;
    background-color:#DC3545;
    border:1px solid #DC3545;
    border-radius:10px;
    padding:3px;
    float: right;
    display: none;
}

.notes{
    text-align: center;
    display: block;
    color:gray;
}

.card{
    padding:0px !important;
    margin-bottom:0px !important;
    border:0 !important;
}


.hapus-promo:hover{
    color:#DC3545 !important;
    background-color: white;
}

.hapus-promo:active{
    color:white !important;
    background-color: #DC3545;
}

#marquee-pengaturan, #kalkulator-pengaturan{
    padding:65px !important;
    margin-bottom:15px !important;
}

.available-promo{
    display: none;
    page-break-inside: avoid;
}

marquee span { 
    margin-right: 100%; 
} 
marquee p { 
    white-space:nowrap;
    margin-right: 1000px; 
} 

.hapus-marquee{
    margin-right:10px;
}


#tambahcust{
    border: 1px solid #007bff;
    background-color: #007bff;
    display: block;
    position: fixed;
    bottom: 0px;
    right:0;
    left:0;
    margin-left: 200px;
    text-align: center;
    cursor: pointer;
    color: white;
    padding:5px 0px;
    font-size: 30px;
}

#tambahcust:hover{
    background-color: white;
    color:#007bff;
}

#tambahcust:active{
    background-color: #007bff;
    color:white;
}

input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.form-check{
    padding-left:30px !important;
}


#hasil-kalkulator, #hasil-kalkulator-transaksi{
  text-align: center;
  font-family: 'Righteous', cursive;
  font-weight: bold;
  border:1px solid rgba(0,0,0,.2);
  font-size: 18px;
  padding:20px;
  display: block;
  cursor: pointer;
  background-color: black;
  color:white;
  width: 100%;
  justify-content: center;
}

#hasil-kalkulator:hover, #hasil-kalkulator-transaksi:hover{
  border:1px solid rgba(0,0,0,.2);
  background-color: white;
  color:black;
}

#hasil-kalkulator:active, #hasil-kalkulator-transaksi:active{
  border:1px solid rgba(0,0,0,.2);
  background-color: black;
  color:white;
}

.hasil{
  text-align: center;
  display: block;
}

.peringatan1{
  color:#787573;
}

#info-cicilan{
  margin-left: 20%;
  margin-right: 20%;
}

#hasil-perhitungan{
  margin-top: 10px;
  margin-bottom: 10px;
}

.hasil-perhitungan-transaksi{
  padding:10px;
  border: 1px solid grey;
  margin-top:8px;
  background-color:#f5f5f5;
  text-align: center;
}

fieldset{
  margin-bottom: 10px !important;
}

#copas{
  display: none;
  margin-left: auto;
  margin-top: 10px;
  margin-right:auto ;
}

#isikalkulator, #note-catatan, #note-promo{
  padding:64px !important;
}


.display-4{
  color:#31ad52 !important;
}

.fa-gear{
  color:black !important;
}

.fa-exclamation-circle{
  color:#DC3545 !important;
}

.lead{
  margin-bottom: 0px !important;
}

#to-do-list{
  background-image: linear-gradient(#039dfc,#67bcf0);
}

#judul-atas-tugas, #judul-atas-perpindahan{
  display: block;
  text-align: center;
  color:white;
  font-size: 28px;
  font-weight: bold;
  padding-top: 30px;
}

#judul-atas-perpindahan{
  padding-bottom: 30px;
}

#tugas, #perpindahan{
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border: none;
  margin-left: 8px;
  padding-left: 15px;
}

.form-tugas{
  padding:5px 30px 20px;
  margin-left: 5px;
  margin-right:5px;
  display: grid;
  grid-template-columns: auto 80px;
}

.form-perpindahan{
  padding:5px 30px 20px;
  margin-left: 5px;
  margin-right:5px;
}

#tambahperpindahan{
  width: 100%;
  display: block;
}

#tambah-tugas{
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

#judul-pending-task, #judul-completed-task, #judul-perpindahan-pending, #judul-perpindahan-completed{
  padding:8px 20px 8px;
  color:white;
  font-weight: bold;
  cursor: pointer;
  display: block;
  border-radius: 0;
  text-decoration: none;
  text-align: left;
}

#judul-completed-task, #judul-perpindahan-completed{
  background-image: linear-gradient(#13d12f,#36d94e);
}

#judul-pending-task, #judul-perpindahan-pending{
  background-image: linear-gradient(#eb4034,#f2685e);
}

.fa-angle-down, .fa-angle-up{
  float:right;
}

.fa-angle-down::before, .fa-angle-up::before{
  vertical-align: -webkit-baseline-middle !important;
}

.tugas-pending, .perpindahan-pending{
  padding: 8px 20px;
  display: grid;
  grid-template-columns: auto 50px 50px;
}

.perpindahan-pending{
  cursor: pointer;
}

.tugas-pending:nth-child(odd), .perpindahan-pending:nth-child(odd){
  background-color: #f5f5f5;  
}

.tugas-pending:nth-child(even), .perpindahan-pending:nth-child(odd){
  background-color: #e8e8e8;  
}

.hapustugas, .hapusperpindahan{
  color:#ff3030 !important;
  align-items: center !important;
  justify-content: center !important;
  display: flex !important;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.hapusperpindahan,.hapustugas{
  height: 50px !important;
  margin:auto;  
}

.deskripsi-tugas, .deskripsi-perpindahan{
  padding:15px;
}

.deskripsi-tugas{
  display: grid;
  grid-template-columns: 235px auto;
}

.selesaikantugas, .selesaikanperpindahan{
  align-items: center !important;
  justify-content: center !important;
  display: flex !important;
  color:#33f222 !important;
  text-align: center;
  cursor: pointer;
}

.selesaikanperpindahan,.selesaikantugas{
  height: 50px !important;
  margin:auto;
}

.hapustugas:hover, .hapusperpindahan:hover{
  border:1px solid #ff3030 !important;
  background-color: #ff3030 !important;
  padding:12px 13px;
  border-radius: 10px;
  color:white !important;
}

.hapustugas:active, .hapusperpindahan:active{
  background-color: white !important;
  color:#ff3030 !important;
}


.selesaikantugas:hover, .selesaikanperpindahan:hover{
  border:1px solid #33f222 !important;
  background-color: #33f222 !important;
  padding:12px;
  border-radius: 10px;
  color:white !important;
}

.selesaikantugas:active, .selesaikanperpindahan:active{
  background-color:white !important;
  color:#33f222 !important;
}

.deskripsi-tugas-selesai, .deskripsi-perpindahan-selesai{
  padding:15px;
}

.tugas-selesai, .perpindahan-selesai{
  padding: 8px 20px;
  display: grid;
  grid-template-columns: auto 60px 60px;
}

.tugas-selesai:nth-child(odd), .perpindahan-selesai:nth-child(odd){
  background-color: #f5f5f5;  
}

.tugas-selesai:nth-child(even), .perpindahan-selesai:nth-child(even){
  background-color: #e8e8e8;  
}

.penyelesaian{
  color:grey;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #039dfc;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10%;
  box-shadow: inset 0px 0px 0px #039dfc;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  margin:auto;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #039dfc;
  }
}

.tugas-selesai:hover, .perpindahan-selesai:hover{
  background-color: #91ff93;
}

.checkbox-hapus-tugas{
  align-items: center !important;
  justify-content: center !important;
  display: block !important;
  margin:auto !important;
}

.hapustugasselesai, .hapusperpindahanselesai{
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  margin: auto;
  display: flex !important;
  font-size: 18px;
  text-align: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  border:1px solid #ff3030;
  color:white !important;
  background-color: #ff3030;
}

.hapustugasselesai:hover, .hapusperpindahanselesai:hover{
  color:#ff3030 !important;
  background-color: white;
  animation: besar 0.1s ease forwards;
}

.hapustugasselesai:active, .hapusperpindahanselesai:active{
  color:white !important;
  background-color: #ff3030;
  animation: kecil 0.1s ease forwards;
}

@keyframes besar{
  0%{font-size:18px;}
  25%{font-size:19.5px;}
  50%{font-size:21px;}
  75%{font-size:22.5px;}
  100%{font-size:24px;}
}

@keyframes kecil{
  0%{font-size:24px;}
  25%{font-size:22px;}
  50%{font-size:20px;}
  75%{font-size:18px;}
  100%{font-size:16px;}
}

#tugas .form-control{
  width: auto !important;
}

#isi-halaman-cetak{
  background-image: linear-gradient(#39459b,#51b9f5);
  padding: 15px;
}

#form-cetak{
  color:white;
}


#judul-form-cetak, #keterangan-form-cetak{
  text-align: center !important;
}

#judul-form-cetak{
  margin: 8px;
  font-weight: bold;
  font-family: righteous;
}

#keterangan-form-cetak{
  margin-bottom: 20px;
}

.preview-print{
  margin-top: 8px;
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: 50% 50%;
}

.potongan-kertas:nth-child(odd){
  border-bottom:1px dashed black;
  border-right: 1px dashed black; 
}

.potongan-kertas:nth-child(even){
  border-bottom:1px dashed black;
}

.potongan-kertas{
  page-break-before: always;
  page-break-inside: avoid;
}

.header-cetak{
  display: grid;
  grid-template-columns: 60px 15px auto;
  border-bottom: 2px solid black;
  padding:3px 18px;
}

.penjual{
  font-weight: bold;
}

.nama-penjual{
  font-weight: bold;
}

.ship-to{
  display: grid;
  grid-template-columns: 80px 15px auto;
  padding:30px 40px;
}

.nama-pembeli{
  font-weight: bold;
}

.ekspedisi-terpilih{
  font-weight: bold;
}

.keterangan-footer{
  text-align: center;
  font-weight: bold;
  border-top: 2px solid black;
  padding: 4px;
}

.super-header-cetak{
  display: grid;
  grid-template-columns: 189px auto;
  border-bottom: 1px dashed black;
}

.logo-cetak{
  padding:10px 16px 4px;
}

.label-pengiriman{
  text-align: center;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  font-size: 24px;
  font-weight: bold;
}

.nama-logo{
  color:red;
}


@media print {
body{
  margin-top: 8px;
  display: grid;
  grid-template-columns: 50% 50%;
  }

.potongan-kertas:nth-child(9n+0){
  margin-top:107px; 
}

.potongan-kertas:nth-child(10n+0){
  margin-top:107px; 
}

}

@page {
  size: A4;
  margin: 0;
}

.form-edit-pengumuman{
  display: none;
}

.data-transaksi, .data-pengumuman, .data-barang-dicari, .data-achievement{
  border-bottom: 1px solid rgba(0,0,0,.2);
}

.info-transaksi, .info-barang-dicari, .info-achievement, .info-perpindahan{
  display: grid;
  grid-template-columns: 150px 15px auto;
  justify-content: center;
  padding-bottom: 12px;
}

.edit{
  margin:4px 0px 8px 0px;
  display: block !important;
  color:white !important;
}

.hapustransaksi, .edittransaksi, .hapusbarangdicari, .editbarangdicari, .hapusachievement, .editachievement{
  margin:4px 0px 8px 0px;
  display: block !important;
  color:white !important;
}

.modal-transaksi, .modal-barang-dicari, .modal-achievement, .modal-perpindahan{
  display: none;
}

.transaksi, .barangdicari, .achievement{
  cursor: pointer;
}

#kalkulator-transaksi, #konversi-tabel-transaksi{
  margin-right: 10px;
}

#preview-print-transaksi{
  display: none;
}

.tanggal-table,.tanggal-table-kedua{
  text-align: center;
}

table td, table th{
  border:2px solid #dee2e6;
}

table thead th{
  text-align: center;
  border:2px solid #dee2e6;
}

table{
  margin-bottom: 100px !important;
}
